@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.post__btns {
    display: flex;
    gap: 0.5rem;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: teal;
}

.navbar__links {
    margin-left: auto;
}

.link {
    color: #fff;
    text-decoration: none;
    margin-left: 0.5rem;
}

.ErrorPage {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
}
